<form action="zad" method="get">
    <select name="s" id="">
        <option value="slika1">slika1</option>
        <option value="slika2">slika2</option>
        <option value="slika3">slika3</option>
        <input type="submit" name="" id="" value="Pronadji sliku">
    </select>
</form>