doctype html
html
    title= ('Primjer 6')
    link(rel="stylesheet", href="/stylesheet/user.css")
body
    h1 User info
    ul.user-info
        li.user-info__list Name: Zdravko Sokcevic
        li.user-info__list Age: 24
        li.user-info__list Gender: male
        li.user-info__list Location: Nis,Serbia

